/* ================================================= THEME FONTS ================================================= */
@font-face {
	
}
/* ================================================= THEME FONTS ================================================= */

/*
screen-xs-up	=> 575.98px,
screen-sm-up	=> 767.98px,
screen-md-up	=> 991.98px,
screen-lg-up	=> 1199.98px, 
screen-xl-up 	=> 1359.98px, 

screen-xs-down	=> 576px,
screen-sm-down	=> 768px,
screen-md-down	=> 992px,
screen-lg-down	=> 1200px, 
screen-xl-down 	=> 1366px, 

@media (max-width: screen-size-up) {
	...
}
@media (min-width: screen-size-down) {
	...
}
*/

/* ================================================= THEME GLOBAL ================================================= */
body {
	
}
.mailing_field_triple .ui-sortable .acf-row:not(:nth-last-child(2)) td {
	border-bottom: 2px dashed #bbb;
}
.mce-inline-toolbar-grp .mce-container .mce-btn[aria-label="Align left"],
.mce-inline-toolbar-grp .mce-container .mce-btn[aria-label="Align center"],
.mce-inline-toolbar-grp .mce-container .mce-btn[aria-label="Align right"],
.mce-inline-toolbar-grp .mce-container .mce-btn[aria-label="No alignment"] {
	display: none !important;
}
/* ================================================= THEME GLOBAL ================================================= */

/* ================================================= THEME HEADER ================================================= */
.header {
	
}
/* ================================================= THEME HEADER ================================================= */

/* ================================================= THEME CONTENT ================================================= */
.content {
	
}
/* ================================================= THEME CONTENT ================================================= */

/* ================================================= THEME FOOTER ================================================= */
.footer {
	
}
/* ================================================= THEME FOOTER ================================================= */
