/* ================================================= BOOTSTRAP ================================================= */

/* Font size */
.h6,
.form-control,
.btn,
.dropdown-menu,
.input-group-text,
.popover-header {
	font-size: 0.9rem;
}
/* Font size */

/* Tables */
.table td, 
.table th {
	padding: .6rem;
}
/* Tables */

/* Buttons */
.btn-default {
	color: #212529;
	background-color: #dfe0e1;
	border-color: #dfe0e1;
}
/* Buttons */

/* Modal */
.modal {
	z-index: 1070 !important;
	overflow-y: hidden !important;
}
.modal-open:not(.modal-scroll) {
	overflow-y: auto;
	padding-right: 0px !important;
}
.modal-open:not(.modal-scroll) .fixed-top {
	padding: .5rem 1rem !important;
}
.modal-scroll {
	overflow-y: hidden;
}
.modal-scroll .modal{
	overflow-y: auto !important;
}
.modal-backdrop{
	z-index: 1060 !important;
}
.modal-header,
.modal-body,
.modal-footer {
	padding: 0.9rem;
}
.modal-header,
.modal-footer {
	border-color: #cccccc;
}
.modal-title {
	line-height: 1.3;
	font-size: 1.3rem;
}
/* Modal */

/* Navbar */
.navbar-toggler {
	padding: .25rem;
}
/* Navbar */

/* Dropdown */
.dropdown-item {
	padding: .25rem 1rem;
}
.dropdown-header {
	padding: .5rem 1rem;
}
.dropdown-divider {
	border-color: #cccccc;
}
/* Dropdown */

/* Badge */
.badge {
	padding: 0.25em 0.4em 0.35em;
}
/* Badge */

/* Form input group append & prepend */
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), 
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child), 
.input-group > .input-group-append:not(:last-child) > .btn, 
.input-group > .input-group-append:not(:last-child) > .input-group-text {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.input-group > .input-group-prepend ~ .custom-select:not(:last-child), 
.input-group > .input-group-prepend ~ .form-control:not(:last-child) {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
/* Form input group append & prepend */

/* ================================================= BOOTSTRAP ADDITIONS ================================================= */

/* Modal Size */
@media (min-width: $screen-lg-down) {
	.modal-xl {
		max-width: 1110px;
	}
}
@media (max-width: $screen-lg-up) {
	.modal-xl {
		max-width: 930px;
	}
}
@media (max-width: $screen-md-up) {
	.modal-xl {
		max-width: 500px;
	}
}
@media (max-width: $screen-sm-up) {
	.modal-xl {
		max-width: initial;
	}
}
/* Modal Size */

/* Modal Align */
.modal {
	padding: 0px 30px !important;
}
.modal-dialog {
	margin: 30px auto;
	width: 100%;
}
@media (max-width: $screen-sm-up) {
	.modal {
		padding: 0px 15px !important;
	}
	.modal-dialog {
		margin: 15px auto;
	}
	.modal-dialog.modal-sm {
		max-width: 300px;
	}
}
.modal.center,
.modal.bottom,
.modal.top {
  text-align: center;
}
.modal.left {
  text-align: left;
}
.modal.right {
  text-align: right;
}
.modal.center:before,
.modal.bottom:before,
.modal.top:before,
.modal.left:before,
.modal.right:before {
	display: inline-block;
	content: " ";
	height: 100%;
}
.modal.center:before {
	vertical-align: middle;
}
.modal.bottom:before {
	vertical-align: bottom;
}
.modal.top:before {
	vertical-align: top;
}
.modal.center .modal-dialog,
.modal.bottom .modal-dialog,
.modal.top .modal-dialog,
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.modal.center .modal-dialog {
	vertical-align: middle;
}
.modal.bottom .modal-dialog {
	vertical-align: bottom;
}
.modal.top .modal-dialog {
	vertical-align: top;
}
/* Modal Align */

/* Modal Alternative Fade */
.modal.fade-2 .modal-dialog {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
/* Modal Alternative Fade */

/* Dropdown Overflow */
.dropdown .dropdown-overflow,
.dropdown .dropdown-overflow-sm,
.dropdown .dropdown-overflow-md,
.dropdown .dropdown-overflow-lg {
	overflow: hidden;
	overflow-y: auto;
}
.dropdown .dropdown-overflow {
	max-height: 120px;
}
.dropdown .dropdown-overflow-sm {
	max-height: 195px;
}
.dropdown .dropdown-overflow-md {
	max-height: 400px;
}
.dropdown .dropdown-overflow-lg {
	max-height: 500px;
}
@media (max-width: $screen-lg-up) {
	.dropdown .dropdown-overflow-lg {
		max-height: 400px;
	}
}
@media (max-width: $screen-md-up) {
	.dropdown .dropdown-overflow-md,
	.dropdown .dropdown-overflow-lg {
		max-height: 195px;
	}
}
@media (max-width: $screen-sm-up) {
	.dropdown .dropdown-overflow,
	.dropdown .dropdown-overflow-sm,
	.dropdown .dropdown-overflow-md,
	.dropdown .dropdown-overflow-lg {
		max-height: 135px;
		margin-bottom: 10px;
	}
}
/* Dropdown Overflow */

/* Custom file language */
.custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elejir";
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}
/* Custom file language */

/* Card overflow */
.card .card-overflow,
.card .card-overflow-sm,
.card .card-overflow-md,
.card .card-overflow-lg {
	overflow-y: auto;
	max-height: 108px;
}
.card .card-overflow-sm{
	max-height: 156px;
}
.card .card-overflow-md{
	max-height: 204px;
}
.card .card-overflow-lg{
	max-height: 252px;
}
/* Card overflow */

/* Textarea resize */
.form-group textarea.textarea-no-resize,
.form-row textarea.textarea-no-resize{
	resize: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.form-group textarea.textarea-resize-x,
.form-row textarea.textarea-resize-x{
	resize: horizontal;
	-webkit-appearance: horizontal;
	-moz-appearance: horizontal;
}
.form-group textarea.textarea-resize-y,
.form-row textarea.textarea-resize-y{
	resize: vertical;
	-webkit-appearance: vertical;
	-moz-appearance: vertical;
}
/* Textarea resize */

/* Form force validation color */
.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
.was-validated .custom-select:invalid, .custom-select.is-invalid,
.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before,
.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label,
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
	border-color: #dc3545 !important;
}
.was-validated .form-control:valid, .form-control.is-valid,
.was-validated .form-control:valid:focus, .form-control.is-valid:focus,
.was-validated .custom-select:valid, .custom-select.is-valid,
.was-validated .custom-select:valid:focus, .custom-select.is-valid:focus,
.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before,
.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label,
.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
	border-color: #28a745 !important;
}
/* Form force validation color */

/* Form custom input */
.was-validated .custom-file-input:valid ~ .custom-file-label:after {
	background-color: rgba(40, 167, 69, 0.25) !important;
}
.was-validated .custom-file-input:invalid ~ .custom-file-label:after {
	background-color: rgba(220, 53, 69, 0.25) !important;
}
/* Form custom input */

/* Form validation addon */
.was-validated .input-group-text-valid {
	border-color: #28a745 !important;
	background-color: rgba(40, 167, 69, 0.25);
}
.was-validated .input-group-text-invalid {
	border-color: #dc3545 !important;
	background-color: rgba(220, 53, 69, 0.25);
}
.was-validated .input-group-text-warning {
	border-color: #faa425 !important;
	background-color: rgba(255, 200, 118, 0.25);
}
/* Form validation addon */

/* Form validation warning */
.was-validated .is-warning:valid {
	border-color: #faa425 !important;
	padding-right: 2.25rem;
	background-repeat: no-repeat;
	background-position: center right calc(2.25rem / 4);
	background-size: calc(2.25rem / 2) calc(2.25rem / 2);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8'%3e%3cpath fill='%23faa425' d='M8.9,6.7L5.3,0.4C5.1,0.2,4.8,0,4.5,0C4.2,0,3.9,0.2,3.7,0.4L0.1,6.7C0,7,0,7.3,0.1,7.6C0.3,7.9,0.6,8,0.9,8 h7.2c0.3,0,0.6-0.2,0.8-0.4C9,7.3,9,7,8.9,6.7z M4.5,7C4.2,7,3.9,6.8,3.9,6.4c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6 C5.1,6.8,4.8,7,4.5,7z M5.1,4.5c0,0.3-0.3,0.6-0.6,0.6h0c-0.3,0-0.6-0.3-0.6-0.6V2.2c0-0.3,0.3-0.6,0.6-0.6h0c0.3,0,0.6,0.3,0.6,0.6 V4.5z'/%3E%3C/svg%3E%0A") !important;
}
.was-validated .custom-select.is-warning:valid {
	padding-right: 3.4375rem !important;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8'%3e%3cpath fill='%23faa425' d='M8.9,6.7L5.3,0.4C5.1,0.2,4.8,0,4.5,0C4.2,0,3.9,0.2,3.7,0.4L0.1,6.7C0,7,0,7.3,0.1,7.6C0.3,7.9,0.6,8,0.9,8 h7.2c0.3,0,0.6-0.2,0.8-0.4C9,7.3,9,7,8.9,6.7z M4.5,7C4.2,7,3.9,6.8,3.9,6.4c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6 C5.1,6.8,4.8,7,4.5,7z M5.1,4.5c0,0.3-0.3,0.6-0.6,0.6h0c-0.3,0-0.6-0.3-0.6-0.6V2.2c0-0.3,0.3-0.6,0.6-0.6h0c0.3,0,0.6,0.3,0.6,0.6 V4.5z'/%3E%3C/svg%3E%0A") no-repeat center right 1.75rem/1.125rem 1.125rem !important;
}
.was-validated .is-warning:valid:focus {
	border-color: #faa425 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 200, 118, 0.25) !important;
}
.warning-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #faa425;
}
.warning-tooltip {
	position: absolute;
	top: 100%;
	z-index: 5;
	display: none;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	margin-top: .1rem;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #fff;
	background-color: rgba(255, 200, 118, 0.9);
	border-radius: 0.25rem;
}
.was-validated .form-control.is-warning:valid ~ .warning-feedback,
.was-validated .form-control.is-warning:valid ~ .warning-tooltip, 
.was-validated .custom-select.is-warning:valid ~ .warning-feedback,
.was-validated .custom-select.is-warning:valid ~ .warning-tooltip,
.was-validated .form-control-file.is-warning:valid ~ .warning-feedback,
.was-validated .form-control-file.is-warning:valid ~ .warning-tooltip,
.was-validated .form-check-input.is-warning:valid ~ .warning-feedback,
.was-validated .form-check-input.is-warning:valid ~ .warning-tooltip,
.was-validated .custom-control-input.is-warning:valid ~ .warning-feedback,
.was-validated .custom-control-input.is-warning:valid ~ .warning-tooltip,
.was-validated .custom-file-input.is-warning:valid ~ .warning-feedback,
.was-validated .custom-file-input.is-warning:valid ~ .warning-tooltip {
	display: block;
}
.was-validated .form-control.is-warning:valid ~ .valid-feedback,
.was-validated .form-control.is-warning:valid ~ .valid-tooltip, 
.was-validated .custom-select.is-warning:valid ~ .valid-feedback,
.was-validated .custom-select.is-warning:valid ~ .valid-tooltip,
.was-validated .form-control-file.is-warning:valid ~ .valid-feedback,
.was-validated .form-control-file.is-warning:valid ~ .valid-tooltip,
.was-validated .form-check-input.is-warning:valid ~ .valid-feedback,
.was-validated .form-check-input.is-warning:valid ~ .valid-tooltip,
.was-validated .custom-control-input.is-warning:valid ~ .valid-feedback,
.was-validated .custom-control-input.is-warning:valid ~ .valid-tooltip,
.was-validated .custom-file-input.is-warning:valid ~ .valid-feedback,
.was-validated .custom-file-input.is-warning:valid ~ .valid-tooltip {
	display: none;
}
/* Form validation warning */

/* Carousel dots indicators */
.carousel-indicators-dots:not(.carousel-indicators-2x) .carousel-indicators {
	margin-bottom: 1.5rem;
}
.carousel-indicators-dots:not(.carousel-indicators-2x) .carousel-indicators li {
	width: 12px;
	height: 12px;
	border-top: none;
	border-bottom: none;
	border-radius: 300px;
}
/* Carousel dots indicators */

/* Carousel indicators height 2x */
.carousel-indicators-2x:not(.carousel-indicators-dots) .carousel-indicators {
	margin-bottom: 1.5rem;
}
.carousel-indicators-2x:not(.carousel-indicators-dots) .carousel-indicators li {
	height: 6px;
	border-top: none;
	border-bottom: none;
}
/* Carousel indicators height 2x */

/* Carousel fixed controls */
.carousel-control-fixed .carousel-control-prev,
.carousel-control-fixed .carousel-control-next {
	width: 60px;
}
.carousel-control-fixed-sm .carousel-control-prev,
.carousel-control-fixed-sm .carousel-control-next {
	width: 70px;
}
.carousel-control-fixed-md .carousel-control-prev,
.carousel-control-fixed-md .carousel-control-next {
	width: 80px;
}
.carousel-control-fixed-lg .carousel-control-prev,
.carousel-control-fixed-lg .carousel-control-next {
	width: 90px;
}
.carousel-control-fixed-xl .carousel-control-prev,
.carousel-control-fixed-xl .carousel-control-next {
	width: 100px;
}
/* Carousel fixed controls */

/* Carousel controls without opacity */
.carousel-control-opacity .carousel-control-prev,
.carousel-control-opacity .carousel-control-next {
	opacity: 1;
}
/* Carousel controls without opacity */

/* Carousel controls with Font Awesome */
.carousel .carousel-control-prev i, 
.carousel .carousel-control-next i {
	font-size: 35px;
}
/* Carousel controls with Font Awesome */

/* Carousel shadows */
.carousel-shadows .carousel-control-prev *[class*="fa-"], 
.carousel-shadows .carousel-control-next *[class*="fa-"] {
	text-shadow: 2px 2px 12px black;
}
.carousel-shadows .carousel-indicators li {
	box-shadow: 2px 2px 12px black;
}
.carousel-shadows .carousel-caption {
	text-shadow: 2px 2px 3px black, 2px 2px 3px rgba(0,0,0,0.5);
}
/* Carousel shadows */

/* Carousel control no mobile */
@media (max-width: $screen-sm-up) {
	.carousel-indicators-hide .carousel-indicators {
		display: none;
	}
	.carousel-control-hide .carousel-control-prev,
	.carousel-control-hide .carousel-control-next {
		display: none;
	}
}
/* Carousel control no mobile */

/* Text Truncate gradient */
.text-truncate-gradient,
.text-truncate-gradient-sm,
.text-truncate-gradient-md,
.text-truncate-gradient-lg {
	position: relative;
	overflow: hidden;
}
.text-truncate-gradient:after,
.text-truncate-gradient-sm:after,
.text-truncate-gradient-md:after,
.text-truncate-gradient-lg:after {
	position: absolute;
	content: "";
	right: 0px;
	bottom: 0px;
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.text-truncate-gradient:after {
	width: 35px;
	height: 20px;
}
.text-truncate-gradient-sm:after {
	width: 45px;
	height: 30px;
}
.text-truncate-gradient-md:after {
	width: 55px;
	height: 40px;
}
.text-truncate-gradient-lg:after {
	width: 65px;
	height: 50px;
}
/* Text Truncate gradient */

/* ================================================= BOOTSTRAP ADDITIONS ================================================= */
