/* ================================================= THEME FONTS ================================================= */
@font-face {
	
}
/* ================================================= THEME FONTS ================================================= */

/*
'$screen-xs-up'		=> '575.98px',
'$screen-sm-up'		=> '767.98px',
'$screen-md-up'		=> '991.98px',
'$screen-lg-up'		=> '1199.98px', 
'$screen-xl-up' 	=> '1359.98px', 

'$screen-xs-down'	=> '576px',
'$screen-sm-down'	=> '768px',
'$screen-md-down'	=> '992px',
'$screen-lg-down'	=> '1200px', 
'$screen-xl-down' 	=> '1366px', 

@media (max-width: $screen-size-up) {
	...
}
@media (min-width: $screen-size-down) {
	...
}
*/

/* ================================================= THEME GLOBAL ================================================= */
body {
	
}
body > .content .card,
body > .content .form-control textarea,
body > .content .input-group select,
body > .content .border-bottom {
	border-color: $color-gris !important;
}
/* ================================================= THEME GLOBAL ================================================= */

/* ================================================= THEME HEADER ================================================= */
body > .header {
	
}
/* ================================================= THEME HEADER ================================================= */

/* ================================================= THEME CONTENT ================================================= */
body > .content {
	
}
/* ================================================= THEME CONTENT ================================================= */

/* ================================================= THEME FOOTER ================================================= */
body > .footer {
	
}
/* ================================================= THEME FOOTER ================================================= */
