/*header*/
.mail-css .header {
	width: 700px;
	text-align: center;
	border-bottom: solid 40px #bfc9cf;
}
.mail-css .header img{
	display: block;
	border: none;
}
.mail-css .header .box{
	width: 100%;
	display: block;
	text-align: center;
	height: auto;
}
.mail-css .header .box .logo{
	display: inline-block;
	border: none;
	text-align: center;
}
/*body*/
.mail-css .content {
	width: 700px;
	background-color: #fff;
	font-size: 13px;
}
.mail-css .header .contfecha{
	background-color: #00263e;
	width: 342px;
	height: 378px;
	display: inline-block;
}
.mail-css .header .contfecha .tituloheader{
	text-align: left;
    font-size: 58px;
    width: 100%;
    height: auto;
    display: block;
    line-height: 49px;
    font-family: 'Times', 'Times New Roman';
    color: white;
    letter-spacing: 0.5px;
	padding: 39px 0px 40px 20px;
}
.mail-css .header .contfecha .line{
	padding: 5px 0px 44px;
}
.mail-css .header .fecha{
	color: white;
	font-size: 18.2px;
	font-family: 'Tahoma', 'Arial';
	text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 20px;
}
.mail-css .content .foto{
	width: 100%;
	height: auto;
	display: block;
}
.mail-css .content .foto img{
	width: auto;
	height: auto;
	display: block;
	border: none;
}
.mail-css .content .izq.unica{
	width: 100%;
	height: auto;
	display: block;
}
.mail-css .content .der table{
	background-color: #aaac2d;
}
.mail-css .content .izq{
	width: 100%;
	height: auto;
	padding: 0px 0px;
	display: block;
}
.mail-css .content .der{
	width: 100%;
	height: auto;
	padding: 0px 0px 20px;
	display: block;
}
.mail-css .content .der .foto,
.mail-css .content .izq .foto{
	width: 282px;
	height: 187px;
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 20px;
}
.mail-css .content .der .foto img,
.mail-css .content .izq .foto img{
	width: 100%;
	height: auto;
	display: block;
	border: none;
}
.mail-css .content .der .titulo{
	font-size: 19.4px;
	letter-spacing: 0.3px;
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0px;
	padding: 20px 0px;
	line-height: 20px;
	font-family: 'Times', 'Times New Roman';
	color: white;
}
.mail-css .content .izq .titulo{
	font-size: 19.4px;
	letter-spacing: 0.3px;
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 20px;
	line-height: 20px;
	font-family: 'Times', 'Times New Roman';
	color: #00263e;
}
.mail-css .content .primero .izq .titulo{
	padding-top: 20px;
}
.mail-css .content .der .titulo{
	background-color: #aaac2d;
}
.mail-css .content .ultimo{
	text-align: center;
	width: 100%;
}
.mail-css .content tr .conttext{
	display: inline-block;
	height: auto;
	width: 370px;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
}
.mail-css .content .conttextcomunicado{
	display: block;
	height: auto;
	padding: 10px 15px;
}
.mail-css .content .conttextcomunicado .botoncomunicado{
	width: 100%;
	height: auto;
	display: block;
	padding-bottom: 15px;
	text-align: center;
}
.mail-css .content .titulo {
	font-size: 19px;
	text-align: justify;
	width: 100%;
	display: block;
	margin-top: 20px;
	margin-bottom: 15px;
	line-height: 20px;
	font-family: 'Times', 'Times New Roman';
	color: #00263e;
}
.mail-css .content .titulocomunicado {
	font-size: 21px;
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	font-family: 'Times', 'Times New Roman';
	letter-spacing: 0.3px;
	color: #00263e;
}
.mail-css .content .texto.especial{
	padding-bottom: 4px;
	padding-top: 20px;
	border-bottom: 1px solid #bfc9cf;
	text-align: center;
	text-transform: uppercase;
	color: #00263e;
	font-weight: bold;
	font-family: 'Tahoma', 'Arial';
	font-size: 16px;
}
.mail-css .content .conttextcomunicado .texto{
	padding-top: 30px;
}
.mail-css .content .texto {
	width: 100%;
	height: auto;
	display: block;
	text-align: justify;
	font-size: 12.5px;
	line-height: 18px;
	font-family: 'Tahoma', 'Arial';
	color: #00263e;
}
.mail-css .content .der .texto {
	width: 100%;
	height: auto;
	display: block;
	text-align: justify;
	font-size: 12.5px;
	line-height: 18px;
	font-family: 'Tahoma', 'Arial';
	color: white;
}
.mail-css .content .boton{
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
	padding-bottom: 20px;
}
.mail-css .content .leer,
.mail-css .content .conttextcomunicado .botoncomunicado .leer {
	font-size: 11.5px;
    color: #FFFFFF;
    background-color: #aaac2d;
    display: inline-block;
    padding: 4px 26px;
    letter-spacing: 0.7px;
	font-family: 'Tahoma', 'Arial';
	text-transform: uppercase;
	white-space: nowrap;
	width: auto;
	text-decoration: none;
}
.mail-css .content .der .leer{
	font-size: 11.5px;
    color: #aaac2d;
    background-color: white;
    display: inline-block;
    padding: 4px 26px;
    letter-spacing: 0.7px;
	font-family: 'Tahoma', 'Arial';
	text-transform: uppercase;
	white-space: nowrap;
	width: auto;
	text-decoration: none;
}
.mail-css .fotocomunicado{
	text-align: center;
}
.mail-css .fotocomunicado img{
	display: inline-block;
	width: auto;
}
/*footer*/
.mail-css .footer {
	width: 700px;
}
.mail-css .footer .informacion{
	width: 100%;
}
.mail-css .footer .informacion .social{
	text-align: center;
	font-size: 17px;
	width: 100%;
	height: auto;
	display: block;
	font-weight: bold;
	color: #00263e;
	font-family: 'Tahoma', 'Arial';
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #bfc9cf;
}
.mail-css .footer .informacion .social a{
	color: #00263e;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 0.5px;
}
.mail-css .footer .informacion .texto{
	text-align: center;
	font-size: 13px;
	font-family: 'Tahoma', 'Arial';
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #00263e;
}
.mail-css .footer .informacion .texto a{
	color: white;
	text-decoration: none;
}